.*{
	margin:0;
	padding:0;
}
.main_container{
	width:100%;
}
.container{
	width:1200px;
	margin:0 auto;
}

.card_content{
	display:flex;
	gap:20px;
	margin-top:50px;
}
.card
{
width:25%;
overflow:hidden;
position:relative;
}
.card img{
	max-width:100%;
	transform:scale(1);
	transition:a11 0.5s ease;
}
.card img:hover{
	transform:scale(1.1);
	transition:all 0.5s ease;
	
}

.text{
	position:absolute;
	top:223px; 
	left:13px;
	color:white;
	/* z-index:-1; */
	opacity:0;
	transition:all 0.3s ease;
	z-index:2;
}
.card:hover .text {
	/* z-index:1;
	*/
	opacity:1;
}
.icon {
	font-size:20px;
	height:50px;
	width:50px;
	border:2px solid white;
	border-radius:50%;
	line-height:50px;
	background-color:white;
	color:red;
	position:absolute;
	top:135px;
	left:123px;
	text-align:center;
	transform:rotate(0deg);
	transition:all 0.3s ease;
	z-index:-1;
	text-decoration:none;
}
.icon::after{
	content:"\f061";
	font-family:fontawesome;
}
.card:hover .icon{
	z-index:1;
	transform:rotate(-45deg);
}
.card1:after{
	content:"";
	top:0;
	right:0;
	width:100%;
	height:100%;
	background: rgb(209 53 66 / 83%);
    transition:all 0.5s ease;
	position:absolute;
	transform:translateX(100%);
	
}
.card1:hover:after{
	transform:translateX(0);
}
.card2:after{
	content:"";
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgb(209 53 66 / 83%);
    transition:all 0.5s ease;
	position:absolute;
	transform:translateY(100%);
	
}
.card2:hover:after{
	transform:translateY(0);
}
.card3:after{
	content:"";
	top:0;
	right:0;
	width:100%;
	height:100%;
	background: rgb(209 53 66 / 83%);
    transition:all 0.5s ease;
	position:absolute;
	transform:translateX(-100%);
	
	
}
.card3:hover:after{
	transform:translateY(0);
}
.card4:after{
	content:"";
	top:0;
	right:0;
	width:100%;
	height:100%;
	background: rgb(209 53 66 / 83%);
    transition:all 0.5s ease;
	position:absolute;
	transform:translateY(-100%);
	
}
.card4:hover:after{
	transform:translateY(0);
}
